.About__Article {
  box-shadow: 8px 8px 1px 1px var(--borderColor); 
}

/*** Common browsers ***/
.About__Text::selection {
  background-color: var(--highlightBgColor);
  color: var(--aboutHighlightColor);
}

/*** Mozilla based browsers ***/
.About__Text::-moz-selection {
  background-color: var(--highlightBgColor);
  color: var(--aboutHighlightColor);
}

/***For Other Browsers ***/
.About__Text::-o-selection {
  background-color: var(--highlightBgColor);
  color: var(--aboutHighlightColor);
}

.About__Text::-ms-selection {
  background-color: var(--highlightBgColor);
  color: var(--aboutHighlightColor);
}

/*** For Webkit ***/
.About__Text::-webkit-selection {
  background-color: var(--highlightBgColor);
  color: var(--aboutHighlightColor);
}
