.Navbar__Logo {
  fill: var(--logoColor);
  stroke: var(--logoColor);
}

.SiteHeader {
  position: absolute;
  left: 0;
  right: 0;
}

.active {
  display: block;
}

.Navbar__Text:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

/*** Common browsers ***/
.Navbar__Text::selection {
  background-color: transparent;
}

/*** Mozilla based browsers ***/
.Navbar__Text::-moz-selection {
  background-color: transparent;
}

/***For Other Browsers ***/
.Navbar__Text::-o-selection {
  background-color: transparent;
}

.Navbar__Text::-ms-selection {
  background-color: transparent;
}

/*** For Webkit ***/
.Navbar__Text::-webkit-selection {
  background-color: transparent;
}
