.Projects {
	box-shadow: 8px 8px 1px 1px var(--projectsBorderColor);
}

/*** Common browsers ***/
.Projects__Text::selection {
  background-color: var(--projectsBorderColor);
  color: var(--backgroundColor);
}

/*** Mozilla based browsers ***/
.Projects__Text::-moz-selection {
  background-color: var(--projectsBorderColor);
  color: var(--backgroundColor);
}

/***For Other Browsers ***/
.Projects__Text::-o-selection {
  background-color: var(--projectsBorderColor);
  color: var(--backgroundColor);
}

.Projects__Text::-ms-selection {
  background-color: var(--projectsBorderColor);
  color: var(--backgroundColor);
}

/*** For Webkit ***/
.Projects__Text::-webkit-selection {
  background-color: var(--projectsBorderColor);
  color: var(--backgroundColor);
}

/*** Common browsers ***/
.Projects__Text::selection {
  background-color: var(--projectsBorderColor);
  color: var(--backgroundColor);
}

/*** Mozilla based browsers ***/
.Projects__Text::-moz-selection {
  background-color: var(--projectsBorderColor);
  color: var(--backgroundColor);
}

/***For Other Browsers ***/
.Projects__Text::-o-selection {
  background-color: var(--projectsBorderColor);
  color: var(--backgroundColor);
}

.Projects__Text::-ms-selection {
  background-color: var(--projectsBorderColor);
  color: var(--backgroundColor);
}

/*** For Webkit ***/
.Projects__Text::-webkit-selection {
  background-color: var(--projectsBorderColor);
  color: var(--backgroundColor);
}