.CurrentlyPlaying__Container {
  box-shadow: 8px 8px 1px 1px var(--borderColor); 
}

/*** Common browsers ***/
.CurrentlyPlaying__Text::selection {
  background-color: var(--highlightBgColor);
  color: var(--spotifyHighlightColor);
}

/*** Mozilla based browsers ***/
.CurrentlyPlaying__Text::-moz-selection {
  background-color: var(--highlightBgColor);
  color: var(--spotifyHighlightColor);
}

/***For Other Browsers ***/
.CurrentlyPlaying__Text::-o-selection {
  background-color: var(--highlightBgColor);
  color: var(--spotifyHighlightColor);
}

.CurrentlyPlaying__Text::-ms-selection {
  background-color: var(--highlightBgColor);
  color: var(--spotifyHighlightColor);
}

/*** For Webkit ***/
.CurrentlyPlaying__Text::-webkit-selection {
  background-color: var(--highlightBgColor);
  color: var(--spotifyHighlightColor);
}

/*** Common browsers ***/
.TopTracks__Text::selection {
  background-color: var(--highlightBgColor);
  color: var(--spotifyHighlightColor);
}

/*** Mozilla based browsers ***/
.TopTracks__Text::-moz-selection {
  background-color: var(--highlightBgColor);
  color: var(--spotifyHighlightColor);
}

/***For Other Browsers ***/
.TopTracks__Text::-o-selection {
  background-color: var(--highlightBgColor);
  color: var(--spotifyHighlightColor);
}

.TopTracks__Text::-ms-selection {
  background-color: var(--highlightBgColor);
  color: var(--spotifyHighlightColor);
}

/*** For Webkit ***/
.TopTracks__Text::-webkit-selection {
  background-color: var(--highlightBgColor);
  color: var(--spotifyHighlightColor);
}
