/*** AboutMe ***/

/*** Common browsers ***/
.AboutMe__Text::selection {
  background-color: #404040;
  color: #a7c7e7;
}

/*** Mozilla based browsers ***/
.AboutMe__Text::-moz-selection {
  background-color: #404040;
  color: #a7c7e7;
}

/***For Other Browsers ***/
.AboutMe__Text::-o-selection {
  background-color: #404040;
  color: #a7c7e7;
}

.AboutMe__Text::-ms-selection {
  background-color: #404040;
  color: #a7c7e7;
}

/*** For Webkit ***/
.AboutMe__Text::-webkit-selection {
  background-color: #404040;
  color: #a7c7e7;
}
