/*** Footer ***/

.Footer__Link {
  text-decoration: underline solid;
  text-decoration-thickness: 2px;
}

/*** Common browsers ***/
.Footer__Text::selection {
  background-color: var(--footerHighlightColor);
  color: var(--highlightBgColor);
}

/*** Mozilla based browsers ***/
.Footer__Text::-moz-selection {
  background-color: var(--footerHighlightColor);
  color: var(--highlightBgColor);
}

/***For Other Browsers ***/
.Footer__Text::-o-selection {
  background-color: var(--footerHighlightColor);
  color: var(--highlightBgColor);
}

.Footer__Text::-ms-selection {
  background-color: var(--footerHighlightColor);
  color: var(--highlightBgColor);
}

/*** For Webkit ***/
.Footer__Text::-webkit-selection {
  background-color: var(--footerHighlightColor);
  color: var(--highlightBgColor);
}
