@tailwind base;
@tailwind components;
@tailwind utilities;

.rough-annotation {
  z-index: -1;
}

.ScreenLogger {
  display: none;
}

:root {
  --selectionBackgroundColour: theme("colors.rose.300");
  --selectionTextColour: theme("colors.black");
}

[class="dark"] {
  --selectionBackgroundColour: theme("colors.violet.500");
  --selectionTextColour: theme("colors.white");
}

::selection {
  background-color: var(--selectionBackgroundColour);
  color: var(--selectionTextColour);
}
