/*** Hero ***/

.ScreenLogger {
  display: none;
}

/*** Common browsers ***/
.Hero__Text::selection {
  background-color: var(--highlightBgColor);
  color: var(--heroHighlightColor);
}

/*** Mozilla based browsers ***/
.Hero__Text::-moz-selection {
  background-color: var(--highlightBgColor);
  color: var(--heroHighlightColor);
}

/***For Other Browsers ***/
.Hero__Text::-o-selection {
  background-color: var(--highlightBgColor);
  color: var(--heroHighlightColor);
}

.Hero__Text::-ms-selection {
  background-color: var(--highlightBgColor);
  color: var(--heroHighlightColor);
}

/*** For Webkit ***/
.Hero__-Text-::-webkit-selection {
  background-color: var(--highlightBgColor);
  color: var(--heroHighlightColor);
}
