@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'robotomedium';
  src: url(/fonts/roboto-medium-webfont.woff2) format('woff2'),
    url(/fonts/roboto-medium-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.First-Section {
  position: relative;
  z-index: -1;
}

:root {
  --backgroundColor: theme('colors.white');
  --heroColor: theme('colors.light-hero');
  --logoColor: theme('colors.dc-grey');
  --borderColor: theme('colors.dc-grey');

  --backgroundSplashColor: theme('colors.light-aboutme');
  --hoodieColor: theme('colors.alt-grey');
  --hoodieLogoColor: theme('colors.black');

  --highlightBgColor: theme('colors.white');
  --heroHighlightColor: theme('colors.light-hero');
  --aboutmeHighlightColor: theme('colors.light-aboutme');
  --spotifyHighlightColor: theme('colors.light-aboutme');
  --footerHighlightColor: theme('colors.dc-grey');
}

[class='dark'] {
  --backgroundColor: theme('colors.dc-grey');
  --heroColor: theme('colors.dark-hero');
  --logoColor: theme('colors.white');
  --borderColor: theme('colors.white');

  --backgroundSplashColor: theme('colors.dark-aboutme');
  --hoodieColor: theme('colors.dark-alt-grey');
  --hoodieLogoColor: theme('colors.white');

  --highlightBgColor: theme('colors.dc-grey');
  --heroHighlightColor: theme('colors.dark-hero');
  --aboutmeHighlightColor: theme('colors.white');
  --spotifyHighlightColor: theme('colors.white');
  --footerHighlightColor: theme('colors.white');
}

html {
  background-color: var(--backgroundColor);
}

.Wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .Hero::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--heroColor);
    z-index: -2;
  }
}

.Navbar__Logo {
  fill: var(--logoColor);
  stroke: var(--logoColor);
}

@import 'aboutme.scss';
@import 'spotify.scss';
@import 'footer.scss';
@import 'hero.scss';
@import 'navbar.scss';
