@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'robotoregular';
  src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('./fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}

.First-Section {
  position: relative;
  z-index: -1;
}

@import 'aboutme.css';
@import 'spotify.css';
@import 'footer.css';
@import 'hero.css';
@import 'navbar.css';
