@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~@fontsource/ubuntu/400.css';
@import '~@fontsource/ubuntu/500.css';
@import '~@fontsource/ubuntu/700.css';

@import '~@fontsource/baloo-da-2/500.css';

@import 'components';

body {
  .text-2xl,
  .text-3xl,
  .text-4xl,
  .text-5xl,
  .text-6xl,
  .text-7xl,
  .text-8xl,
  .text-9xl {
    font-family: 'Ubuntu';
  }

  font-family: 'Baloo Da 2';
}

.First-Section {
  position: relative;
  z-index: -1;
}

:root {
  --backgroundColor: theme('colors.light-grey');
  --heroColor: theme('colors.light-hero');
  --logoColor: theme('colors.dc-grey');
  --borderColor: theme('colors.dc-grey');

  --homeHoverColor: theme('colors.light-home-hover');
  --defaultHoverColor: theme('colors.light-default-hover');

  --backgroundSplashColor: theme('colors.light-about');
  --hoodieColor: theme('colors.alt-grey');
  --hoodieLogoColor: theme('colors.black');

  --highlightBgColor: theme('colors.dc-grey');
  --heroHighlightColor: theme('colors.light-hero');
  --aboutHighlightColor: theme('colors.light-about');
  --spotifyHighlightColor: theme('colors.light-about');
  --footerHighlightColor: theme('colors.dc-grey');
  --projectsBorderColor: theme('colors.dc-grey');

  --scrollBarTrackColor: theme('colors.light-scrollbar-track');
}

[class='dark'] {
  --backgroundColor: theme('colors.dc-grey');
  --heroColor: theme('colors.dark-hero');
  --logoColor: theme('colors.white');
  --borderColor: theme('colors.white');

  --homeHoverColor: theme('colors.dark-home-hover');
  --defaultHoverColor: theme('colors.dark-default-hover');

  --backgroundSplashColor: theme('colors.dark-about');
  --hoodieColor: theme('colors.dark-alt-grey');
  --hoodieLogoColor: theme('colors.white');

  --highlightBgColor: theme('colors.dc-grey');
  --heroHighlightColor: theme('colors.dark-hero');
  --aboutHighlightColor: theme('colors.white');
  --spotifyHighlightColor: theme('colors.white');
  --footerHighlightColor: theme('colors.white');
  --projectsBorderColor: theme('colors.white');

  --scrollBarTrackColor: theme('colors.dark-scrollbar-track');
}

html {
  background-color: var(--backgroundColor);
}

@media screen and (min-width: 768px) {
  .Hero::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--heroColor);
    z-index: -2;
  }
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollBarTrackColor);
}

::-webkit-scrollbar-thumb {
  background-color: var(--heroColor);
  border-radius: 80px;
}
