@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'components';

@font-face {
  font-family: 'ubuntu';
  src: url(/fonts/ubuntu-medium-webfont.woff2) format('woff2'),
    url(/fonts/ubuntu-medium-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'ubuntu';
}

.First-Section {
  position: relative;
  z-index: -1;
}

:root {
  --backgroundColor: theme('colors.light-grey');
  --heroColor: theme('colors.light-hero');
  --logoColor: theme('colors.dc-grey');
  --borderColor: theme('colors.dc-grey');

  --backgroundSplashColor: theme('colors.light-about');
  --hoodieColor: theme('colors.alt-grey');
  --hoodieLogoColor: theme('colors.black');

  --highlightBgColor: theme('colors.dc-grey');
  --heroHighlightColor: theme('colors.light-hero');
  --aboutHighlightColor: theme('colors.light-about');
  --spotifyHighlightColor: theme('colors.light-about');
  --footerHighlightColor: theme('colors.dc-grey');
  --projectsBorderColor: theme('colors.dc-grey');
}

[class='dark'] {
  --backgroundColor: theme('colors.dc-grey');
  --heroColor: theme('colors.dark-hero');
  --logoColor: theme('colors.white');
  --borderColor: theme('colors.white');

  --backgroundSplashColor: theme('colors.dark-about');
  --hoodieColor: theme('colors.dark-alt-grey');
  --hoodieLogoColor: theme('colors.white');

  --highlightBgColor: theme('colors.dc-grey');
  --heroHighlightColor: theme('colors.dark-hero');
  --aboutHighlightColor: theme('colors.white');
  --spotifyHighlightColor: theme('colors.white');
  --footerHighlightColor: theme('colors.white');
  --projectsBorderColor: theme('colors.white');
}

html {
  background-color: var(--backgroundColor);
}

@media screen and (min-width: 768px) {
  .Hero::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--heroColor);
    z-index: -2;
  }
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}