/*** Navbar ***/

.SiteHeader {
  position: absolute;
  left: 0;
  right: 0;
}

.Navbar-Text:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

/*** Common browsers ***/
.Navbar-Text::selection {
  background-color: transparent;
}

/*** Mozilla based browsers ***/
.Navbar-Text::-moz-selection {
  background-color: transparent;
}

/***For Other Browsers ***/
.Navbar-Text::-o-selection {
  background-color: transparent;
}

.Navbar-Text::-ms-selection {
  background-color: transparent;
}

/*** For Webkit ***/
.Navbar-Text::-webkit-selection {
  background-color: transparent;
}
